filelock==3.12.2
h5py==3.12.1
lxml==4.9.4
matplotlib==3.8.4
numpy==1.25.0
openpyxl==3.1.2
pandas==2.2.3
psutil==5.9.5
PySide6-Essentials==6.4.3
python-dateutil==2.8.2
PyYAML==6.0
qasync==0.27.1
superqt==0.6.1
tables==3.10.2
vtk==9.4.2
xmlschema==1.10.0
